@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;

    font-family: 'Roboto', sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --cContentMaxWidth: 1057px;
}

.c-content {
    max-width: var(--cContentMaxWidth);
    margin: 0 50px 0 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

h1 {
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    margin-bottom: 13px;
    width: 100%;
}

.c-matchingGame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    perspective: 1000px;
}

.c-card {
    background-color: #A7E9AF;
    border: 1px solid #99cea8;
    border-radius: 5px;

    width: 117px;
    height: 146px;
    margin-top: 34px;
    margin-left: 34px;

    display: flex;
    align-items: center;
    position: relative;

    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: all 900ms;
}

.c-card:active {
    transform: scale(0.97);
    transition: all 300ms;
}

.is-flipped {
    transform: rotateY(180deg);
}

.c-card__front {
    height: 100px;
    width: 100px;
    
    position: absolute; 
    
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.c-card__back {
    height: 100px;
    backface-visibility: hidden;
}

// LEMBRAR DE CORRIGIR O CABEÇALHO SUMINDO NA VERSÃO MOBILE!!